body {
  background: radial-gradient(
    circle,
    rgba(18, 26, 66, 1) 3%,
    rgba(0, 0, 0, 1) 72%
  );
  color: aliceblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Loader {
  position: fixed;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
