.sliderContainer img {
  width: 250px;
  height: auto;
  justify-self: center;
  margin-left: 60px;
}
.sliderContainer {
  width: 90%;
  background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
}
.sliderContainer:hover {
  scale: 1.05;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
.sliderDiv {
  text-align: center;
  justify-content: center;
}
