.userInfos {
  background-color: #88a8e9;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  color: aliceblue;
}
.userInfos:hover {
  scale: 1.05;
}
.userInfos img {
  border-radius: 10px;
}
body {
  display: flex;
}
