.movieCard {
  color: #002661;
  width: 300px;
  margin: 20px;
  background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
}

.movieCard:hover {
  scale: 1.03;
  transition-duration: 0.3s;
  cursor: pointer;
  transform-origin: 6%;
}
