.signInDiv {
  background-color: rgba(83, 83, 83, 0.24);
  width: 25%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 10px;
  text-shadow: 0px 0px 4px;
  color: rgb(12, 163, 163);
  box-shadow: 0px 0px 10px;
}
.signInDiv:hover {
  box-shadow: 0px 0px 10px;
  transition-duration: 0.5s;
}
.signInDiv button {
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  border-style: solid;
  border-color: rgba(12, 163, 163, 0.521);
  color: rgb(12, 163, 163);
  font-weight: bold;
}
.signInDiv button:hover {
  scale: 1.05;
  box-shadow: 0px 0px 5px;
  cursor: pointer;
}
body footer {
  margin-top: 100px;
}
